
.text{
    color: rgb(13, 133, 133);
}

.recipe-one{
    text-align: center;
    padding: 10px;
    width: 50%;
    margin: auto;
    border: 10px inset rgb(247, 232, 34)
}

.recipe-two{
    text-align: left;
    padding: 10px;
    width: 50%;
    margin: auto;
    border: 5px dotted rgb(34, 247, 48)
}

.recipe-three{
    text-align: right;
    padding: 10px;
    width: 50%;
    margin: auto;
    border: 4px solid rgb(247, 165, 34)
}